body{
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-wrapper{
    flex:1;
}

/* Navbar */
.navbar{
    min-height:5rem;
    background-color: white;
}

.fa-compass{
    color:#fe424d;
    font-size: 1.8rem;
    
}

.nav-link{
    color:#222222 !important;
}

/* Footer */
.f-info-links a{
    text-decoration: none;
    margin-right: 1rem;
    color:#222222;
}

.social-icon i {
  font-size: 1.2rem  !important;   
  color: #222;   
  transition: color 0.2s ease, transform 0.2s ease;
}



.social-icon i:hover {
  color: #fe424d;
  transform: scale(1.1);
}


.f-info-links a:hover{
    text-decoration: underline;
}

.f-info{
    height:8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ebebeb;
}

.f-info-links,.f-info-socials,.f-info-body{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-info-socials i{
    margin-right: 1rem;
    font-size: 1.2rem;
}

/* Card */
.listing-card{
    border:none;
    margin-bottom: 2rem;
}

.card-img-top{
    object-fit: cover;
    border-radius: 1rem;
    width:100%;
}

.card-body{
    padding:0
}

.card-text p{
    font-weight: 400;
}

.listing-line{
    text-decoration: none;
}

/* Card Effect */
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* New Page */
.add-btn{
    background-color: #fe424d;
    border:none
}

/* Edit page */
.edit-btn{
    background-color: #fe424d;
    border:none
}

/* Show Page */
.show-img{
    height:30vh;
}

.btns{
    display: flex;
}

/* .show-card{
    padding-left: 0;
    padding-right: 0;
} */

/* Map */
#map {
  height: 400px;
  width: 80%; 
}

.terms-card {
  border: 1px solid #ffe1e3;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);
  background-color: #fff;
  text-align: center;
  padding: 1rem 1.5rem;

}

.terms-title {
  color: #fe424d;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

.terms-text {
  font-size: 1.05rem;
  color: #555;
  line-height: 1.6;
}

.terms-card:hover {
  transform: translateY(-4px);
  transition: 0.3s ease;
}
